*{
    margin: 0;
    padding: 0;
}
.info{
    text-align: center;
    padding-top: 80;
    color: #304041;
    font-size: 30px;
    margin-top: 160px ;
}
.titel_2{
    list-style-type: none;
}
.ti_2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 115px;
}
.titel_1{
    font-size: 16px;
    margin-top: 89px;
    
}
.titel_2{
    margin-right: 187px;
}
.footer{
    display: flex;
    margin-top: 167px;
    margin-left: 230px;
}
.footer2{
 padding-left: 60px;
}

