*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.Main{
    height: 640px;
    padding-top: 155px;
    font-size: 30px;
    margin: 0 auto;
}
.info{ 
    color: #304041;
    font-size: 30px;
    text-align: center;
}
.helper{
    color: #789AA0;
    padding-left: 306px;
    padding-top: 200px;
    font-size: 15px;
    font-weight: 900;
    
}
.titel{
    color: #304041;
    padding-top: 20px;
    padding-left: 306px;
    font-size: 24px;
    font-style:italic;
    
}

.text{
    display: flex;
    color: #304041;
    font-size: 20px;
    text-align: left;
    max-width: 500px;
    padding-top: 30px;
    margin-left: 303px;
    margin: 100 auto;
    
}
.link{
    color: #36CFFF;
    display: flex;
    margin-top: 240px;
    border: 2px solid #36CFFF;
    background-color: #fff;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 49px;
    padding-right: 49px;
    border-radius: 94px;
}

.ti_1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 140px;
}